<br />
<div class="jumbotron" style="background: center no-repeat url('../voxpopuli/Content/img/vox_publi_logo.png');">
    <h1>Vox Populi</h1>
    <br /><br /><br /><br /><br />
    @*<img src="~/Content/img/vox_publi_logo.png" height="300" />*@

    <br /><br /><br /><br /><br />
    <br />
    <p class="lead">Vox Populi es una aplicacion para ecuchar la vos del pueblo.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

